.CandidateAnswerRender {
    position: fixed;
    font-weight: bold;
    font-size: 25px;
    line-height: 1.8;
}

.Candidate1, .Candidate3 {
    position: fixed;
    width: 640px;
    float: left;
    text-align: right;
}

.Candidate2, .Candidate4 {
    position: fixed;
    width: 640px;
    right: 0;
}

.Name1, .Name2, .Name3, .Name4 {
    color: yellow;
}

.Ans1, .Ans2, .Ans3, .Ans4 {
    color: white;
}

.Candidate1 {
    margin-top: 60px;
}

.Candidate3 {
    margin-top: 380px;
}

.Candidate2 {
    margin-top: 220px;
}

.Candidate4 {
    margin-top: 540px;
}