.ObstacleCandidateAnswerRender {
    position: fixed;
    font-weight: bold;
    font-size: 25px;
    line-height: 1.8;
}

.ObstacleCandidate1, .ObstacleCandidate3 {
    position: fixed;
    width: 640px;
    float: left;
    text-align: right;
}

.ObstacleCandidate2, .ObstacleCandidate4 {
    position: fixed;
    width: 640px;
    right: 0;
}

.ObstacleName1, .ObstacleName2, .ObstacleName3, .ObstacleName4 {
    color: yellow;
}

.ObstacleAns1, .ObstacleAns2, .ObstacleAns3, .ObstacleAns4 {
    color: white;
}

.ObstacleCandidate1 {
    margin-top: 60px;
}

.ObstacleCandidate3 {
    margin-top: 380px;
}

.ObstacleCandidate2 {
    margin-top: 220px;
}

.ObstacleCandidate4 {
    margin-top: 540px;
}